{% extends "layout.html" %}

{% block content %}


<div class="container " style="width: 100% !important">
    <h1 class="row card" style="text-align: center; width: 100%;"> {{ name }} </h1>
    <div class="row " style="width: 100%;">
        
        <div class="container">
            <div class="row">
                {% for upload in uploads %}
                <div class="col-6" style="min-width: 40%;">
                    <div class="card">
                        
                        <div class="card-header">
                            <h3 style="text-align: right;"> {{ upload.upload_type }}</h3>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title bold" style="text-align: right;">{{ upload.upload_name }}</h5>
                            <p class="card-text" style="text-align: right;">{{ upload.upload_description }}</p>
                            <a href="{% url 'upload_view' upload.id %}" class="btn btn-primary" style="text-align: center;">تحميل</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
    <br>
    <div class="row">
        
        <div class="card" style="align-items: center;width:30%; margin-right: 35%;">
        
            <div class="card-body" style="align-items: center;">
                <h4 class="card-subtitle mb-2 text-muted" style="text-align: center;">اذا كنت تود رفع اي شيء لهذه الماد <a href="{% url 'uploader' %}"
                        >اضغط هنا</a> </h4>
        
            </div>
        </div>

    </div>
</div>



{% endblock %}